:root {
    --color-background-primary: rgb(18, 18, 154);
    --color-background-secondary: rgb(121, 181, 218);
    --color-background-task-uncomplete: rgb(255, 93, 96);
    --color-background-task-complete: rgb(153, 223, 106);

    --font-base-color-dark: black;
    --font-base-color-light: white;
    --font-size-headings-h1: 2.5rem;

    --padding-body: 10% 4rem;

    --padding-fields: .5rem 2rem;
    --padding-list-elem: .75rem 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

button {
    border: none;
    border-radius: .5rem;
    padding: .25rem .5rem;
    height: fit-content;
    width: fit-content;
}

body {
    width: 100vw;
    min-height: 100vh;
    padding: var(--padding-body);
    background-color: var(--color-background-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: var(--font-base-color-dark)
}

h1 {
    font-size: var(--font-size-headings-h1);
    color: var(--font-base-color-light);
    text-align: center;
}

section#list-manager {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    background-color: var(--color-background-secondary);
}

input#new-taskfield {
    width: 100%;
    padding: var(--padding-fields)
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#task-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.task {
    position: relative;
    padding: var(--padding-list-elem);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    border-radius: 0 .5rem .5rem .5rem
}

.task>div:first-child {
    width: 100%;
}


li {
    width: 100%;
    background-color: var(--color-background-task-uncomplete);
}

.date {
    position: absolute;
    background-color: var(--color-background-task-uncomplete);
    top: 0;
    left: 0;
    padding: 0 2rem 0 1rem;
    translate: 0 -100%;
    overflow: hidden;
    border-radius: 5rem 10rem 0 0
}

li.done {
    background-color: var(--color-background-task-complete);
}

li.done .date {
    background-color: var(--color-background-task-complete);
}

.date span {
    font-size: .9rem;
    font-style: italic;
}

.task>div:last-child {
    width: fit-content;
    display: flex;
    gap: 1.5rem;
}